body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  h1 {
    text-align: center;
    color: #333;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .header img {
    height: 50px;
  }

  .header h1 {
    font-size: 3em;
    color: #007bff;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 10px;
    border-radius: 5px;
  }

  .user-info {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .image-preview {
    display: flex;
    font-size: smaller;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-grow: 0;
  }

  .image-preview div {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    width: 200px;
    overflow: hidden;
  }

  .image-preview img {
    max-width: 100%;
    border-radius: 4px;
  }

  .image-preview a {
    text-decoration: none;
    color: white;
  }

  .image-preview a:hover {
    text-decoration: underline;
  }

  .image-preview .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 1px;
    box-sizing: border-box;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /*transform: translateY(100%);*/
    transition: transform 0.3s ease-in-out;
  }

  .image-preview div:hover .description {
    transform: translateY(0);
  }

  .image-preview .description p {
    margin: 5px 0;
  }

  .image-preview .description p:first-child {
    display: block;
  }

  .image-preview .description p:not(:first-child) {
    display: none;
  }

  .image-preview div:hover .description p {
    display: block;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    margin-top: auto;
  }
