<html>

<head>
  <meta charset="utf-8" />
  <title>Mark & zoom</title>
  <link rel="stylesheet" href="css/index.css" />
</head>

<body>
  {% if userdata %}
  <div class="user-info">
    {{ userdata.nickname }}<br>
<!--    <img src="{{ userdata.picture }}"><br> -->
    <a href="/logout">Logout</a><br>
    <a href="/upload">Upload</a>
  </div>
  {% else %}
  <div class="user-info">
    <a href="/login">Login</a>
  </div>
  {% endif %}
  <div class="header">
    <img src="/icons/icons8-search.svg" alt="Mark & zoom" />
    <h1>Mark & zoom</h1>
  </div>
  <div class="image-preview">
    {% for file in files %}
    <div>
      <a href="/zoom#{{ file.uuid }}">
        <img src="/tiles/{{ file.uuid }}/preview.jpg" alt="{{ file.description }}" min-width="256" min-height="256" />
      </a>
      {% if file.type==1 and file.login != userdata.sub %} 
      <img src="/icons/icons8-key.svg" alt="Protected" style="position: absolute; top: 10px; right: 10px; width: 20px; height: 20px;" />
      {% endif %}
      <div class="description">
        <p>{{ file.description | truncate(32) }}</p>
        <p>by <a href="/profil/{{ file.uploader }}/">{{ file.uploader }}</a></p>
        <p>{{ file.width }} x {{ file.height }} px</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <footer>Source code on <a href="https://github.com/umlublin/zoom">GitHub</a> Icons by <a target="_blank" href="https://icons8.com">Icons8</a></footer>
</body>

</html>